configuration {
  font: "JetBrainsMono Nerd Font 13";
  show-icons: true;
  lines: 10;
  fixed-num-lines: true;
  hide-scrollbar: true;
}
/* Tell Rofi to use our theme */
@theme "~/.config/rofi/themes/flexoki-dark-gray.rasi"
