/* Flexoki Color Scheme */
@define-color bg    #100f0f; /* Base (dark background) */
@define-color fg    #cecdc3; /* Text (light foreground) */
@define-color blk   #1c1b1a; /* Black variant */
@define-color red   #af3029; /* Red */
@define-color grn   #66800b; /* Green */
@define-color ylw   #ad8301; /* Yellow/Orange */
@define-color blu   #205ea6; /* Blue */
@define-color mag   #5e409d; /* Purple/Magenta */
@define-color cyn   #24837b; /* Cyan */
@define-color brblk #282726; /* UI element background */
@define-color white #fffcf0; /* Paper (lightest) */

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#workspaces button {
    padding: 0 6px;
    color: @cyn;
    background: transparent;
    border-bottom: 3px solid @bg;
}

#workspaces button.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}

#workspaces button.empty {
    color: @white;
}

#workspaces button.empty.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    padding: 0 8px;
    color: @white;
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: @white;
    border-bottom: 4px solid @cyn;
}

#battery {
    color: @white;
    border-bottom: 4px solid @mag;
}

#disk {
    color: @white;
    border-bottom: 4px solid @ylw;
}

#memory {
    color: @white;
    border-bottom: 4px solid @mag;
}

#cpu {
    color: @white;
    border-bottom: 4px solid @grn;
}

#network {
    color: @white;
    border-bottom: 4px solid @blu;
}

#network.disconnected {
    background-color: @red;
}

#tray {
    color: @fg;
    background-color: @brblk;
}
